# Secrets
.env

# OS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
venv/

# Astro / Airflow local state
.astro/
logs/
plugins/
airflow-webserver.pid
airflow.cfg
airflow.db

# Editor
.vscode/

# MinIO runtime data
include/data/minio/

